@import url("https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&display=swap");
@import "tailwindcss";
@plugin "tailwindcss-animate";

@theme {
  --font-inter: "Inter", sans-serif;

  --color-background: oklch(100% 0 0);
  --color-popover: oklch(100% 0 0);
  --color-black: oklch(0% 0 0);
  --color-gray: oklch(53.5% 0.03 264.6);

  --breakpoint-3xl: 120rem;
  --breakpoint-2xl: 96rem;
  --breakpoint-xl: 80rem;
  --breakpoint-lg: 64rem;
  --breakpoint-md: 48rem;
  --breakpoint-sm: 40rem;
  --breakpoint-xs: 30rem;

  --animate-fade-in: fade-in 0.2s ease-in-out;

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

/* html {
  scroll-behavior: auto;
} */

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 6px;
  background: #fff;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #dbdadd;
  border-radius: 6px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #dbdadd;
}

/* * {
    outline: 1px solid red;
  }  */
